.container{
img,
button {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  cursor: pointer;
  border: solid 2px black ;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
  background: gray;
  transition: 0.5s;
  
  i {
    color: white;
  }
  &:hover{
    font-weight: bold;
    background-color: #b9231b;
    i {
      color: black;
      
    }
  }

}


}


